/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINERS DIV */
.mainBg {
  height: 100vh;
  background: linear-gradient(180deg, #009688 20%, #DADBD3 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 90%;
}

.main-wrapper {
  width: 100%;
  display: flex;
  background-color: white;
}

.chatSelector {
  width: 30%;
  height: 585px;
}

.chatBase {
  width: 70%;
  height: 585px;
  background-color: rgb(192, 137, 55);
}

/* /CONTAINERS DIV */

/* PROFILE USER */
.profileUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  background-color:white ;
  border-right: 1px solid rgba(128, 128, 128, 0.455);
}

.active {
  background-color: #EAEAEA;
}

.profileUser > img {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 0 7px;
  display: block;
  width: 40px;
  height: 40px;
}

.profileUser > .user {
  width: 100%;
  padding-left: 10px;
}

.profileUser > div {
 margin-left: 5px;
}
/* /PROFILE USER */

/* NOTIFICATION */
.notification {
  background-color: #8EDAFC;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.bell {
  background-color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 20px;
}

.textMsg {
  font-size: .8rem;
}
/* /NOTIFICATION */

/* SELECT-CHAT */
.search {
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
}

.search > button {
  width: 10%;
  margin: 10px;
}

.search > input {
  width: 80%;
}

.scrollSec {
  overflow-y:scroll;
  height: calc(100% - 160px);
}

/* /SELECT-CHAT */

/* CHAT-BASE */

/* chat-messages */
.messagesChat {
  background-color: #E5DDD4;
  height: calc(100% - 120px);
  display: flex;
}

.baloon {
  width: 100%;
  height: 10%;
}

.baloon .received{
  background-color: #D5F9BA;
  width: 60%;
}

.baloon .submitted{
  background-color: #FFFFFF;
  width: 60%;
  align-items: end;
  text-align: end;
}


/* send-message */
.sendMsg {
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.sendMsg .emoji,
.sendMsg > .send{
  color: #6A7174;
  cursor: pointer;
}

.sendMsg > input {
  width: 70%;
}
  /* /CHAT-BASE */