/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONTAINERS DIV */
.mainBg {
  height: 100vh;
  background: linear-gradient(180deg, #009688 20%, #DADBD3 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 90%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
}

.chatSelector {
  width: 30%;
  height: 585px;
}

.profileIcone {
  color: #B1B1B1;
  margin: 5px;
}


.chatBase {
  width: 70%;
  height: 585px;
}

/* /CONTAINERS DIV */

/* PROFILE USER */
.profileUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  background-color:white ;
  border-right: 1px solid rgba(128, 128, 128, 0.455);
}

.active {
  background-color: #EAEAEA;
}

.profileUser > img {
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profileUser > .user {
  width: 100%;
  padding-left: 10px;
}

.profileUser > div {
 margin-left: 5px;
}
/* /PROFILE USER */

/* NOTIFICATION */
.notification {
  background-color: #8EDAFC;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.bell {
  background-color: white;
  color: #8EDAFC;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

.textMsg {
  font-size: .8rem;
}
/* /NOTIFICATION */

/* SELECT-CHAT */
.search {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #FFFCF9  ;
}

.search > button {
  width: 20%;
  height: 30px;
  border: 1px solid #F4F4F4;
  background-color: white;
}

.search > input {
  width: 75%;
  height: 30px;
  border: 1px solid #F4F4F4;

}

.scrollSec {
  overflow-y:scroll;
  height: calc(100% - 160px);
}

.fa-magnifying-glass {
  color: #B7B7B7;
}

.lastMessage{
  font-size: .6rem;
  color: #C9CCCF;
}

/* /SELECT-CHAT */

/* CHAT-BASE */

/* chat-messages */
.messagesChat {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 120px);
  padding: 10px 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.baloon {
  width: 100%;
  margin: 5px 0;
}

.baloon .submitted{
  background-color: #D5F9BA;
  float: right;
  max-width: 60%;
}

.baloon .received{
  background-color: #FFFFFF;
  max-width: 60%;

}

.baloon .message {
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.119);
}

.baloon .dateMsg {
  float: right;
  font-size: .6rem;
  color: #B4B7BB;
  margin-top: 6px;
}


/* send-message */
.sendMsg {
  background-color: #F3EEEA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.sendMsg .emoji,
.sendMsg > .send{
  color: #6A7174;
  cursor: pointer;
}

.sendMsg > input {
  width: 85%;
  border: none;
  height: 40px;
}
  /* /CHAT-BASE */